<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CSE 564 - Final Project</title>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="">

        <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='jqvmap.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/admin-materialize.min.css') }}">

        <!-- Material Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- load the d3.js library -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://bl.ocks.org/syntagmatic/raw/3341641/render-queue.js"></script>

        <script src = "{{ url_for('static', filename='js/d3-tip.js')}}"></script>
        <!-- <script src = "{{ url_for('static', filename='js/tooltip.js')}}"></script> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/styles.css') }}">
    </head>
    <body>
        <main>
            <div class="container" style="width: 100% !important;">
                <div class="row">
                    <div class="col l12 s12">
                        <h4 style="text-align: center;">World Happiness</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #201a1657; height: 300px;">
                            <div id="piechart"></div>
                        </div>
                    </div>
                    <div class="col l6 s6">
                        <div class="card-panel" style="background-color: #201a1657; height: 300px;">
                            <div id="mapdiv" style="margin-left: -13px;"></div>
                            <span>Year:</span>
                            <input id="slider" type="range" min="2005" max="2020" value="2005" step="1" style="width: 530px;"/>
                            <span id="range">2005</span>
                        </div>
                    </div>
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #201a1657; height: 300px;">
                        <div id="sunburst"></div>
                    </div>
                </div>
                </div>
                <div class="row" style="height: 40%;">
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #201a1657; height: 300px;">
                            <p>
                                <form>
                                    <select id="select_x_attr" onchange="selectAxisAttribute()">
                                        <option value="none">Select X-axis attribute</option>
                                        <option value="Life_Ladder">Life Ladder</option>
                                        <option value="Log_GDP_per_capita">Log GDP per capita</option>
                                        <option value="Social_support">Social support</option>
                                        <option value="Healthy_life_expectancy_at_birth">Healthy life expectancy at birth</option>
                                        <option value="Freedom_to _make_life_choices">Freedom to make life choices</option>
                                        <option value="Generosity">Generosity</option>
                                        <option value="Perceptions_of_corruption">Perceptions of corruption</option>
                                        <option value="Positive_affect">Positive affect</option>
                                        <option value="Negative_affect">Negative affect</option>
                                        <option value="Alcohol_all">All (alcohol)</option>
                                        <option value="Alcohol_beer">Beer</option>
                                        <option value="Alcohol_wine">Wine</option>
                                        <option value="Alcohol_spirits">Spirits</option>
                                        <option value="Alcohol_other">Other (alcohol)</option>
                                    </select>
                                </form>
                            </p>
                            <p>
                                <form>
                                    <select id="select_y_attr" onchange="selectAxisAttribute()">
                                        <option value="none">Select Y-axis attribute</option>
                                        <option value="Life_Ladder">Life Ladder</option>
                                        <option value="Log_GDP_per_capita">Log GDP per capita</option>
                                        <option value="Social_support">Social support</option>
                                        <option value="Healthy_life_expectancy_at_birth">Healthy life expectancy at birth</option>
                                        <option value="Freedom_to _make_life_choices">Freedom to make life choices</option>
                                        <option value="Generosity">Generosity</option>
                                        <option value="Perceptions_of_corruption">Perceptions of corruption</option>
                                        <option value="Positive_affect">Positive affect</option>
                                        <option value="Negative_affect">Negative affect</option>
                                        <option value="Alcohol_all">All (alcohol)</option>
                                        <option value="Alcohol_beer">Beer</option>
                                        <option value="Alcohol_wine">Wine</option>
                                        <option value="Alcohol_spirits">Spirits</option>
                                        <option value="Alcohol_other">Other (alcohol)</option>
                                    </select>
                                </form>
                            </p>
                            <p id="scatterplot"></p>
                        </div>
                    </div>
                    <div class="col l6 s6">
                        <div class="card-panel" style="background-color: #201a1657;">
                            <div id="para" style="width:960px;height:252px;"></div>
                        </div>
                    </div>
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #201a1657; height: 300px;">
                            <div id="text1"></div>
                            <div id=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src = "{{ url_for('static', filename='js/map.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/scatterplot.js')}}"></script>
        <script src = "{{ url_for('static', filename='js/materialize.min.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/styles.css') }}">

<!--        <script src = "{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>-->
        <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>

        <!-- <script src = "{{ url_for('static', filename='imagesloaded.pkgd.min.js')}}"></script>
        <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script> -->
    </body>
</html>
