<!DOCTYPE html>
<html lang="en" style="overflow-x: hidden;">
    <head>
        <title>CSE 564 - Final Project</title>
        <meta charset="utf-8">
        <link rel="icon" href="data:,">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="description" content="">

        <link href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" rel="stylesheet">

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='jqvmap.css') }}"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/admin-materialize.min.css') }}">

        <!-- Material Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- load the d3.js library -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script> -->
        <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
        <script src="https://bl.ocks.org/syntagmatic/raw/3341641/render-queue.js"></script>

        <script src = "{{ url_for('static', filename='js/d3-tip.js')}}"></script>
        <!-- <script src = "{{ url_for('static', filename='js/tooltip.js')}}"></script> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/styles.css') }}">
    </head>
    <body>
        <main>
            <div class="container" style="width: 100% !important;">
                <div class="row">
                    <div class="col l12 s12">
                        <h4 style="text-align: center; color:#222">World Happiness</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #222; height: 335px;">
                            <div class="input-field col s12 m6">
                                <select id="select_x_attr">
                                    <!-- <option value="none" disabled selected>select X-axis attribute</option> -->
                                    <option value="Life_Ladder">life ladder</option>
                                    <option value="Log_GDP_per_capita">log GDP per capita</option>
                                    <option value="Social_support">social support</option>
                                    <option value="Healthy_life_expectancy_at_birth">healthy life expectancy at birth</option>
                                    <option value="Freedom_to_make_life_choices">freedom to make life choices</option>
                                    <option value="Generosity">generosity</option>
                                    <option value="Perceptions_of_corruption">perceptions of corruption</option>
                                    <option value="Positive_affect">positive affect</option>
                                    <option value="Negative_affect">negative affect</option>
                                    <option value="Alcohol_all">all (alcohol)</option>
                                    <option value="Alcohol_beer">beer</option>
                                    <option value="Alcohol_wine">wine</option>
                                    <option value="Alcohol_spirits">spirits</option>
                                    <option value="Alcohol_other">other (alcohol)</option>
                                </select>
                                <label>X-axis attribute</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <select id="select_y_attr">
                                    <!-- <option value="none" disabled selected>select Y-axis attribute</option> -->
                                    <option value="Life_Ladder">life ladder</option>
                                    <option value="Log_GDP_per_capita">log GDP per capita</option>
                                    <option value="Social_support">social support</option>
                                    <option value="Healthy_life_expectancy_at_birth" selected>healthy life expectancy at birth</option>
                                    <option value="Freedom_to_make_life_choices">freedom to make life choices</option>
                                    <option value="Generosity">generosity</option>
                                    <option value="Perceptions_of_corruption">perceptions of corruption</option>
                                    <option value="Positive_affect">positive affect</option>
                                    <option value="Negative_affect">negative affect</option>
                                    <option value="Alcohol_all">all (alcohol)</option>
                                    <option value="Alcohol_beer">beer</option>
                                    <option value="Alcohol_wine">wine</option>
                                    <option value="Alcohol_spirits">spirits</option>
                                    <option value="Alcohol_other">other (alcohol)</option>
                                </select>
                                <label>Y-axis attribute</label>
                            </div>
                            <div id="scatterplot"></div>
                        </div>
                    </div>
                    <div class="col l6 s6">
                        <div class="card-panel" style="background-color: #222; height: 335px;">
                            <div id="mapdiv" style="margin-left: -13px;"></div>
                            <span style="color:#ccc">Year:</span>
                            <input id="slider" type="range" min="2005" max="2020" value="2012" step="1" style="width: 530px;"/>
                            <span id="range" style="color:#ccc">2012</span>
                        </div>
                    </div>
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #222; height: 335px;">
                        <div id="barchart"></div>
                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #222; height: 300px;">
                            <div id="piechart"></div>
                            <div id="piechartlegend"></div>
                        </div>
                    </div>
                    <div class="col l6 s6">
                        <div class="card-panel" style="background-color: #222; padding: 24px 14px 24px 14px;">
                            <div id="pcp" style="width:960px;height:252px;"></div>
                        </div>
                    </div>
                    <div class="col l3 s3">
                        <div class="card-panel" style="background-color: #222; height: 300px;">
                            <div class="input-field col s12">
                                <select multiple id="select_line_attrs">
                                    <option value="Life_Ladder">life ladder</option>
                                    <option value="Log_GDP_per_capita">log GDP per capita</option>
                                    <option value="Social_support">social support</option>
                                    <option value="Healthy_life_expectancy_at_birth" selected>healthy life expectancy at birth</option>
                                    <option value="Freedom_to_make_life_choices">freedom to make life choices</option>
                                    <option value="Generosity">generosity</option>
                                    <option value="Perceptions_of_corruption">perceptions of corruption</option>
                                    <option value="Positive_affect">positive affect</option>
                                    <option value="Negative_affect">negative affect</option>
                                    <option value="Alcohol_all">all (alcohol)</option>
                                    <option value="Alcohol_beer">beer</option>
                                    <option value="Alcohol_wine">wine</option>
                                    <option value="Alcohol_spirits">spirits</option>
                                    <option value="Alcohol_other">other (alcohol)</option>
                                </select>
                                <label>Line Chart for Attributes</label>
                            </div>
                            <div id="linechart"></div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src = "{{ url_for('static', filename='js/map.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/scatterplot.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/barchart.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/pcp.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/pie.js')}}"></script>
        <script src= "{{ url_for('static', filename='js/linechart.js')}}"></script>
        <script src = "{{ url_for('static', filename='js/materialize.min.js')}}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for ('static', filename='css/styles.css') }}">

<!--        <script src = "{{ url_for('static', filename='js/imagesloaded.pkgd.min.js')}}"></script>-->
        <script src="https://unpkg.com/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
    </body>
</html>
